body {
  background-color: lightgray;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 13px;
  text-align: center;
}

h4 {
  font-size: 10px;
}

p.vispag_exp {
  margin-right: 30px;
  margin-left: 30px;
}

/* Selecting elements by class */
.container {
/*  width: 1024px; */
/*   margin: 0 auto; */
  margin-top: 30px;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover,
.navbar-default .navbar-brand:focus{
    color: white;
    background-color: lightseagreen;
    padding: 6px 10px;
}

/* Selecting elements by ID */
#main-vis,
#visualizations,
#summ-image {
  float: left;
  background-color: white;
}

#figure {
  position: relative;
}

#summary {
  position: absolute;
  left: 30px;
}

#main-vis {
  width: 60%;
}

#visualizations {
  width: 35%;
  margin-left:20px;
}

#summ-image {
  width: 300px;
  height: 300px;
  margin-top: 30px;
  margin-right: 20px;
}

#vis-image,
#vis-image-4 {
  width: 160px;
  height: 160px;
}

#main-vispag {
  width: 60%;
/*  margin-right: 10px;
  margin-left: 10px; */
}

#comp-col {
  background-color: white;
}

#vispag-image {
  width: 650px;
  height: 550px;
  margin-top: 30px;
  margin-left: 15px;
}

#comp-image {
  width: 85%;
  height: 85%;
/*  margin-top: 30px;
  margin-left: 15px; */
}

@media (max-width: 800px) {
  #main-vis {
    width: 100%;
  }

  #visualizations {
    width: 100%;
    margin-top: 30px;
    margin-left:0px;
  }
}

@media (max-width: 1200px) {
  #vispag-image {
    width: 95%;
    height: 85%;
    margin-top: 30px;
    margin-left: 15px;
  }
}

@media (max-width: 767px) {
  #vis-image-4 {
  margin-left: 165px;
  }
}


