body {
  background-color: lightgray;
}

h2 {
  font-size: 18px;
  color: lightseagreen;
  text-align: left;
}

h3 {
  font-size: 13px;
  color: lightseagreen;
}

h4 {
  font-size: 10px;
}

p {
  font-size:14px
}

.container {
  margin-top: 30px;
}

#cont-data {
  background-color: white;
  padding: 30px;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover,
.navbar-default .navbar-brand:focus{
    color: white;
    background-color: lightseagreen;
    padding: 6px 10px;
}

#visualizations,
#summ-image {
  float: left;
  background-color: white;
}

#figure {
  position: relative;
}

#summary {
  position: absolute;
}

#main-vis {
  width: 60%;
  float: left;
  background-color: white;
  padding: 30px;
}

#comp2-txt {
  margin-top: 30px;
  margin-left: 15px;
}

#comp4-txt {
  margin-top: 20px;
  margin-left: 15px;
  margin-bottom: 20px;
  text-align: left;
}

#cont4-txt {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
}

#visualizations {
  width: 35%;
  margin-left:20px; 
  padding: 30px;
}

#summ-image {
  width: 300px;
  height: 300px;
  margin-top: 30px;
  margin-right: 15px;
}

#vis-image {
  width: 130px;
  height: 130px;
}

aside {
  text-align: center;
}

#main-vispag {
  width: 60%;
}

#comp-col {
  background-color: white;
}

#vispag-image {
  width: 95%;
  height: 85%; 
  margin-top: 30px;
  margin-left: 15px;
}

#comp-image {
  width: 85%;
  height: 85%;
}

#table-sty {
  font-size: 14px;
}

/* Small screen */
@media (max-width: 991px) {
  #main-vis {
    width: 100%;
  }

  #visualizations {
    width: 100%;
    margin-top: 30px;
    margin-left:0px;
  }

  .navbar-custom {
    background-color: lightseagreen !important;
  } 
}


